@model Psychologist

<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-6">
                <h1 class="m-0">
                    CADASTRO: <small>Psicólogo</small>
                </h1>
            </div>
            <div class="col-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a asp-action="Index"
                           asp-controller="Psychologist">
                            Listagem
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="container">
    <div class="row">
        <form asp-action="Insert" style="width:100%;">
            <div asp-validation-summary="ModelOnly"></div>            

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control"
                               placeholder="Nome completo" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="Crp" class="control-label"></label>
                        <input asp-for="Crp" class="form-control"
                               placeholder="CRP" />
                        <span asp-validation-for="Crp" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="IsAllowed" class="control-label"></label>
                        <input type="hidden" value="@Model.IsAllowed.ToString()" />
                        <span asp-validation-for="IsAllowed" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <hr />

            <div class="form-group">
                <input type="submit" value="Inserir"
                       class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>